<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBlogGo Post</title>
    <script src="/assets/js/blog.js" defer></script>
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.0/github-markdown-dark.min.css"
          integrity="sha512-aBDxOScRI65DO08Y+khWAg35xF4cGrobhBlPobVkUHbton2aTWtK+1lZ9lGJFb5IJIqywnc42xwJ6ErZYUt+BA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"
            integrity="sha512-6yoqbrcLAHDWAdQmiRlHG4+m0g/CT/V9AGyxabG8j7Jk8j3r3K6due7oqpiRMZqcYe9WM2gPcaNNxnl2ux+3tA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/atom-one-dark.min.css"
          integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<h1 id="post-title"></h1>
<p id="post-date"></p>
<div id="post-content" class="markdown-body"></div>
</body>

</html>
